exceptiongroup==1.1.1
flake8==6.0.0
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.1
pip==23.1.2
pluggy==1.2.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.4.0
setuptools==68.0.0
tomli==2.0.1
wheel==0.40.0
